Practica_00/TuringMachine/*.o
Practica_00/TuringMachine/turing_machine
Practica_00/DFA/*.o
Practica_00/DFA/DFA
Practica_01/output.txt
Practica_01/output
Examen_01/*.o
Examen_01/cellular_turing
Examen_01/output
